<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="main.css">
    <script src="vue.js"></script>
    <title>Newsly</title>
</head>

<body>
    <div id="app">
            <select name="Выбрать" v-model="selectedSource" @change.prevent="changeNews($event)">
            <option value="">Select news source ↓</option>
            <option v-for="source in sources" v-bind:value="source.id" v-on:click="changeNews($event)">
                {{ source.name }}
            </option> 
        </select>
        <article v-for="article in news" v-if="!loading">
            <div class="article_text">
                <div class="article_text__title">{{ article.title }}</div>
                <div class="article_text__desc">{{ article.date }}</div>
            </div>
            <div class="article_image animated-background">
                <img class="" v-bind:src="article.urlToImage" alt="">

            </div>
            <a v-bind:href="article.url"></a>
        </article>
        <!--<div class="next" v-if="loaded === true">Next</div>-->
    </div>

    <script src="app.js"></script>
</body>

</html>