*{
    box-sizing: border-box
}
body{
    background: #6e92ff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
#app{
    max-width: 470px;
    margin: 15px auto;  
    padding: 10px;  
}
select{
    cursor: pointer;
    display: block;
    width: 100%;
    display: inline-block;
    background: #f1bb3d;
    height: 50px;
    border: none;
    border-radius: 5px; 
    font-size: 17px;
    font-weight: 600;
    padding-left: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select::-ms-expand { 
    display: none; /* remove default arrow in IE 10 and 11 */
}
article{
    background: white;
    display: block;
    margin: 15px auto 4px;
    border-radius: 5px;
    display: flex;
    flex: 1 100%;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    position: relative;
}
article a{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
article:hover{
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: translate(0,-5px);
    -ms-transform: translate(0,-5px);
    transform: translate(0,-5px);

    -webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.57);
    -moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.57);
    box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.57);
}
.article_text__title{
    padding-bottom: 10px;
    flex: 1 100%;
    display: block;
    flex: calc;
    align-content: stretch;
    font-weight: 500;    
}
.article_text__desc{
    color: #a1a0a6
}
.article_text{
    width: 55%;
    padding: 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
}
img{
    float: right;
    flex: 1;
    max-height: 175px;
    display: flex;
}
.article_image{
    width: 45%;
    overflow: hidden;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, white -2%, rgba(128, 128, 128, 0.26) 10%, white 31%);
    background-size: 800px 104px;
    position: relative;
}
.next{
    text-align: center;
    display: block;
    background: #f1bb3d;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    padding: 25px 0;
    margin: 40px 0 0 0;
}
.next:hover{
    cursor: pointer
}

@keyframes placeHolderShimmer{
  0%{
    background-position: -468px 0
  }
  100%{
    background-position: 468px 0
  }
}



/*.topnew{
    display: inline-block;
    width: 20%;
}
.slideThree {
  width: 84px;
  height: 26px;
  background: #333;
  margin: 12px auto;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.slideThree:after {
  content: 'NEW';
  color: #f1bb3d;
  position: absolute;
  right: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.slideThree:before {
  content: 'TOP';
  color: #f1bb3d;
  position: absolute;
  left: 10px;
  z-index: 0;
  font: 12px/26px Arial, sans-serif;
  font-weight: bold;
}
.slideThree label {
  display: block;
  width: 37px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.slideThree input[type=checkbox] {
  visibility: hidden;
}
.slideThree input[type=checkbox]:checked + label {
  left: 43px;
}*/

/* end .slideThree */
/* .roundedOne */